:root{
    --bg-color:hsl(230, 17%, 14%);
    --bg-card:hsl(228, 28%, 20%);
    --text-color-white:hsl(0, 0%, 100%);
    --text-color-gray:hsl(228, 34%, 66%);
    --border-color-facebook:hsl(208, 92%, 53%);
    --border-color-twitter:hsl(203, 89%, 53%);
    --border-color-instagram-1:hsl(37, 97%, 70%);
    --border-color-instagram-2:hsl(329, 70%, 58%);
    --border-color-youtube:hsl(348, 97%, 39%);
    --toggle-color-bg-1:hsl(210, 78%, 56%);
    --toggle-color-bg-2:hsl(146, 68%, 55%);
    --statictis-up:hsl(163, 72%, 41%);
    --statictis-down:hsl(356, 69%, 56%);
    }

    body{
       width: 100%;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;

       
        
    }
.conteiner{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color-gray);
    
    border-radius: 0.3em;
    overflow: hidden;
    margin-bottom: 1em;
}

li{
    list-style: none;
    
}




